.Button,
.form-submit {
  color: #fff;
  background-color: #0B5D70;
  padding: 0.625rem 2.25rem;
  border: 1px solid #0B5D70;
  font-size: 1rem;
  transition: all 0.3s;
}

.Button:hover,
.Button:focus,
.form-submit:hover,
.form-submit:focus {
  color: #0B5D70;
  background-color: #fff;
  border: 1px solid #0B5D70;
  cursor: pointer;
}

.Button:disabled,
.form-submit:disabled {
  background: #ccc;
  color: #3D3D3D;
  border-color: #ccc;
  cursor: not-allowed;
}