.MenuBtn {
  display: none;
  position: relative;
  background: none;
  z-index: 101;
  border: none;
  padding: 0.5rem;
}
.MenuBtn svg {
  width: 45px;
  display: block;
  margin: 0 auto
}

.MenuBtn span {
  display: block;
  font-size: 1rem;
  line-height: 1;
  margin: 0.25rem 0 0;
}


.Navigation {
  display: inline-block;
}

.NavigationItems {
  width: 100%;
  list-style: none;
  display: flex;
}

@media (max-width: 768px) {
  .MenuBtn {
    display: block;
  }

  .Navigation {
    display: none;
    width: 100%;
    height: calc(100vh - 116px);
    position: absolute;
    top: 100px;
    left: 0;
    z-index: 100;
    overflow: hidden;
    border-bottom: 16px solid #0B5D70;
  }

  .Navigation.ShowMenu {
    display: block;
  }

  .Navigation.HideMenu {
    display: none;
  }

  .NavigationItems {
    width: 100%;
    height: 100%;
    background: #FFF;
    list-style: none;
    flex-direction: column;
    justify-content: center;
  }
}