.MenuBtn {
  display: none;
  position: relative;
  background: none;
  z-index: 101;
  border: none;
  padding: 0.5rem;
}
.MenuBtn svg {
  width: 45px;
  display: block;
  margin: 0 auto
}

.MenuBtn span {
  display: block;
  font-size: 1rem;
  line-height: 1;
  margin: 0.25rem 0 0;
}


.Navigation {
  display: inline-block;
}

.NavigationItems {
  width: 100%;
  list-style: none;
  display: flex;
}

@media (max-width: 768px) {
  .MenuBtn {
    display: block;
  }

  .Navigation {
    width: 100%;
    height: calc(100vh - 20px);
    position: absolute;
    top: 20px;
    left: 0;
    z-index: 100;
    overflow: hidden;
    border-bottom: 20px solid #0B5D70;
    transition: all 0.3s;
  }

  .Navigation.ShowMenu {
    animation: openMobileNavigation 0.5s ease-in-out forwards;
  }

  .Navigation.HideMenu {
    animation: closeMobileNavigation 0.5s ease-in-out forwards;
  }

  .NavigationItems {
    width: 100%;
    height: 100%;
    background: #FFF;
    list-style: none;
    flex-direction: column;
    justify-content: center;
  }
}

@keyframes openMobileNavigation {
  0% {
    opacity: 0;
    transform: translateY(-70%);
  }

  50% {
    opacity: 1;
    transform: translateY(10%);
  }

  100% {
    opacity: 1;
    transform: translateY(0);
  }
}

@keyframes closeMobileNavigation {
  0% {
    opacity: 1;
    transform: translateY(0);
  }

  50% {
    opacity: 0.6;
    transform: translateY(10%);
  }

  100% {
    opacity: 0;
    transform: translateY(-70%);
  }
}