.pageContainer {
  width: 100%;
  padding: 3rem;
  text-align: left;
  box-sizing: border-box;
}

.pageSingleButton {
  display: grid;
  grid-template-columns: auto auto;
  grid-gap: 100px;
  align-items: center;
}

.title,
.text {
  color: #3d3d3d;
}

.title {
  font-family: 'Montserrat', sans-serif;
  font-size: 3rem;
  font-weight: bold;
}

.text {
  max-width: 686px;
  font-family: 'Cabin', sans-serif;
  font-size: 1.5rem;
  line-height: 1.5;
}

.link {
  text-decoration: none;
  border-bottom: 4px solid #EDBE51;
}

.highlight {
  background-color: #EDBE51;
  padding: 0 2px;
}

.link:visited,
.link:focus {
  color: #0B5D70;
}

.link:hover,
.link:focus {
  text-decoration: none;
  color: #EDBE51;
  border-bottom: 4px solid #EDBE51;
}