.Header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 2rem 2.5rem 6rem;
}

@media (max-width: 769px) {
  .Header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 1.5rem;
  }
}