.PrevPageBtn {
  display: block;
  font-size: 1.125rem;
  color: rgb(61, 61, 61);
  text-decoration: none;
  margin: 0 auto;
  text-align: center;
  opacity: 0.7;
  transition: all 0.5s;
}

.PrevPageBtn::before {
  content: '';
  display: block;
  background: url('../../assets/prev-arrow-grey.svg') no-repeat;
  background-size: 100%;
  width: 40px;
  height: 80px;
  margin: 0 auto 1.5rem;
}

.PrevPageBtn:hover,
.PrevPageBtn:focus {
  text-decoration: underline;
  opacity: 1;
}

@media (max-width: 769px) {
  .PrevPageBtn {
    position: fixed;
    bottom: 2.5rem;
    left: 2.5rem;
    font-size: 0.875rem;
  }
  .PrevPageBtn::before {
    width: 15px;
    height: 30px;
    margin-bottom: 0.25rem;
  }
}
