.title,
.text {
  color: #3d3d3d;
  max-width: 686px;
}

.link {
  text-decoration: none;
  border-bottom: 4px solid #EDBE51;
}

.highlight {
  background-color: #EDBE51;
  padding: 0 2px;
}

.link:visited,
.link:focus {
  color: #0B5D70;
}

.link:hover,
.link:focus {
  text-decoration: none;
  color: #EDBE51;
  border-bottom: 4px solid #EDBE51;
}






.NextPageBtn,
.PrevPageBtn {
  display: block;
  font-size: 1.125rem;
  color: rgb(61, 61, 61);
  text-decoration: none;
  margin: 0 auto;
  text-align: center;
  opacity: 0.7;
  transition: all 0.5s;
}

.NextPageBtn::before,
.PrevPageBtn::before {
  content: '';
  display: block;
  width: 40px;
  height: 80px;
  margin: 0 auto 1.5rem;
}

.NextPageBtn::before {
  background: url('/assets/next-arrow-grey.svg') no-repeat;
  background-size: 100%;
}

.PrevPageBtn::before {
  background: url('/assets/prev-arrow-grey.svg') no-repeat;
  background-size: 100%;
}

.NextPageBtn:hover,
.NextPageBtn:focus {
  text-decoration: underline;
  opacity: 1;
}

@media (max-width: 769px) {
  .NextPageBtn,
  .PrevPageBtn  {
    position: fixed;
    font-size: 0.875rem;
  }
  .NextPageBtn::before,
  .PrevPageBtn::before {
    width: 15px;
    height: 30px;
    margin-bottom: 0.25rem;
  }

  .NextPageBtn {
    bottom: 2.5rem;
    right: 2.5rem;
  }

  .PrevPageBtn {
    bottom: 2.5rem;
    left: 2.5rem;
  }
}
