.Label {
  display: block;
  margin-bottom: 0.5rem;
  font-size: 1rem;
  line-height: 1.5;
}

.InputElement {
  width: 100%;
  padding: 10px;
  border: 1px solid #3D3D3D;
  transition: all 0.3s;
}

.InputElement:focus {
  outline: none;
  border: 1px solid #0B5D70;
}

.Invalid {
  border: 1px solid rgb(139, 4, 4);
  background-color: rgb(235, 198, 194);
}

/* .Valid {
  border: 1px solid rgb(6, 110, 6);
  background-color: rgb(164, 192, 164);
} */

.InvalidText {
  display: block;
  color: rgb(139, 4, 4);
  font-size: 0.875rem;
  margin-top: 0.25rem;
}