@import-normalize; /* bring in normalize.css styles */

/* 
 * https://dev.to/hankchizljaw/a-modern-css-reset-6p3 
 */

/* Box sizing rules */
*,
*::before,
*::after {
  box-sizing: border-box;
}

/* Remove default padding */
ul[class],
ol[class] {
  padding: 0;
}

/* Remove default margin */
body,
h1,
h2,
h3,
h4,
p,
ul[class],
ol[class],
li,
figure,
figcaption,
blockquote,
dl,
dd {
  margin: 0;
}

/* Set core body defaults */
body {
  min-height: 100vh;
  scroll-behavior: smooth;
  text-rendering: optimizeSpeed;
  line-height: 1.5;
}

/* Remove list styles on ul, ol elements with a class attribute */
ul[class],
ol[class] {
  list-style: none;
}

/* A elements that don't have a class get default styles */
a:not([class]) {
  text-decoration-skip-ink: auto;
}

/* Make images easier to work with */
img {
  max-width: 100%;
  display: block;
}

/* Natural flow and rhythm in articles by default */
article > * + * {
  margin-top: 1em;
}

/* Inherit fonts for inputs and buttons */
input,
button,
textarea,
select {
  font: inherit;
}

/* Remove all animations and transitions for people that prefer not to see them */
@media (prefers-reduced-motion: reduce) {
  * {
    animation-duration: 0.01ms !important;
    animation-iteration-count: 1 !important;
    transition-duration: 0.01ms !important;
    scroll-behavior: auto !important;
  }
}


/*
 * App Specific CSS
 */


/*
 * Top Level css
 */

body {
  margin: 0;
  font-family: 'Cabin', -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen', 'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

* {
  font-family: 'Cabin', -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen', 'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

pre {
  background-color: rgb(228, 227, 227);
  padding: 1rem;
  border-radius: 4px;
}

::selection {
  background: #EDBE51; /* WebKit/Blink Browsers */
}
::-moz-selection {
  background: #EDBE51; /* Gecko Browsers */
}

/*
 * Container Classes
 */

section {
  margin: 3rem 0;
}

section:first-of-type {
  margin-top: 0;
}

section:last-of-type {
  margin-bottom: 0;
}


.pageContainer {
  width: 100%;
  max-width: 1400px;
  margin: 0 auto;
  padding: 0 3rem 12rem;
  text-align: left;
  box-sizing: border-box;
}

.two-col {
  display: grid;
  grid-template-columns: auto auto;
  grid-gap: 100px;
  align-items: center;
}

.three-col {
  display: grid;
  grid-template-columns: auto auto auto;
  grid-gap: 100px;
  align-items: center;
}

.mid-width {
  max-width: 869px;
  margin: 0 auto;
}

.container__main-content {
  max-width: 680px;
  margin: 0 auto;
}

@media (max-width: 769px) {
  .pageContainer {
    padding: 0 1.5rem 6rem;
  }

  .two-col,
  .three-col {
    display: block;
    align-items: center;
  }

  .container__main-content {
    margin: 2rem auto;
  }
}

@media (max-width: 1200px) {
  .three-col,
  .two-col {
    grid-gap: 50px;
  }
}

/* Typography */

h1,
h2,
h3,
h4,
h5,
h6 {
  color: #3D3D3D;
  font-family: 'Montserrat', sans-serif;
  line-height: 1.2;
  margin-bottom: 1.5rem;
}

h1,
.title {
  color: #0b5d70;
  font-size: 2.5rem;
  font-weight: bold;
}

h2 {
  color: #0b5d70;
  font-size: 1.75rem;
  font-weight: bold;
}

.dark h1,
.dark h2 {
  color: #FFF;
}

h3 {
  color: #3D3D3D;
  font-size: 1.5rem;
  margin-bottom: 1.25rem;
}

h4 {
  font-size: 1.25rem;
  margin-bottom: 1.25rem;
}

h5 {
  font-size: 1rem;
  margin-bottom: 1rem;
}

h6 {
  font-size: 0.875rem;
  margin-bottom: 1rem;
}


.dark h3,
.dark h4,
.dark h5,
.dark h6 {
  color: #FFF;
}

p,
a,
span,
ol,
li {
  font-size: 1.25rem;
  line-height: 1.5;
}

p,
a,
span,
.text {
  margin-bottom: 1rem;
}

time {
  color: #3D3D3D;
}

.dark p,
.dark a,
.dark span,
.dark ol,
.dark li,
.dark time {
  color: #C6D1D9;
}

li,
ol {
  font-size: 1.25rem;
  line-height: 1.5;
  margin-bottom: 0.5rem;
}

a {
  color: #0B5D70;
  font-weight: bold;
  text-decoration: none;
  border-bottom: 4px solid #EDBE51;
  transition: all 0.3s ease-in-out;
}

a:visited {
  color: #3D3D3D;
}

a:active {
  background-color: transparent;
  color: #EDBE51;
}

a:hover,
a:focus {
  text-decoration: none;
  color: #3D3D3D;
  background-color: #EDBE51;
  border-bottom: 4px solid #3D3D3D;
}

.dark a,
.dark a:visited {
  color: #FFF;
  border-bottom-color: #F0C86A;
}

.dark a:hover,
.dark a:focus {
  background-color: #F0C86A;
  color: #3D3D3D;
}


/* When highlighting text with your mouse...*/
/* WebKit/Blink Browsers */
h1::selection,
h2::selection,
h3::selection,
h4::selection,
h5::selection,
h6::selection { color: #3D3D3D;}
/* Gecko Browsers */
h1::-moz-selection,
h2::-moz-selection,
h3::-moz-selection,
h4::-moz-selection,
h5::-moz-selection,
h6::-moz-selection {color: #3D3D3D;}

a:hover::selection {
  background: #3D3D3D; /* WebKit/Blink Browsers */
}
a:hover::-moz-selection {
  background: #3D3D3D; /* Gecko Browsers */
}

.no-link-style:link,
.no-link-style:visited {
  text-decoration: underline;
  border-bottom: none;
  background: transparent;
}

.no-link-style:hover,
.no-link-style:focus {
  text-decoration: underline;
  border-bottom: none;
  background: none;
}

blockquote {
  border-left: 4px solid #0B5D70;
  padding: 0.75rem 0 0.125rem 2rem; 
}

/* Form Styles */

.form__input,
.form__textarea {
  margin: 1rem 0;
}

.form__input:first-of-type,
.form__textarea:first-of-type {
  margin-top: 0;
}

.form__input:last-of-type,
.form__textarea:last-of-type {
  margin-bottom: 0;
}

label {
  display: block;
  margin-bottom: 0.5rem;
  font-size: 1rem;
  line-height: 1.5;
}