.T {
  fill: #FFF;
}

.K {
  fill: #0B5D70;
}

.Logo {
  display: block;
  position: relative;
  z-index: 102;
  transition: fill .4s ease;
}

.LogoLink:link,
.LogoLink:visited {
  display: block;
  margin-bottom: 0;
  line-height: 0;
  text-decoration: none;
  border: none;
  background-color: transparent;
}

.LogoLink:hover,
.LogoLink:focus {
  border: none;
  background-color: transparent;
}

:global(.dark) .LogoLink:visited:hover,
:global(.dark) .LogoLink:visited:focus,
:global(.dark) .LogoLink:link:hover,
:global(.dark) .LogoLink:link:focus {
  background-color: transparent;
}

/* .LogoLink:focus {
  border: 1px solid #EDBE51;
  box-shadow: 0px 0px 4px #EDBE51;
} */

.Tfill,
.Tpath,
.Kfill,
.Kpath {
  transition: all .4s ease;
}

.Tfill,
.Kpath  {
  fill: #FFF;
}

.Tpath,
.Kfill  {
  fill: #0B5D70;
}

:global(.dark) .LogoLink .Tfill,
:global(.dark) .LogoLink:focus .Tfill {
  transform: translate(55px);
}

:global(.dark) .LogoLink .Kfill,
:global(.dark) .LogoLink:focus .Kfill {
  transform: translate(-55px);
}

:global(.dark) .LogoLink .Tpath,
:global(.dark) .LogoLink .Tpath {
  fill: #FFF;
}

:global(.dark) .LogoLink .Kpath,
:global(.dark) .LogoLink .Kpath {
  fill: #0B5D70;
}