.Navigation {
  display: inline-block;
}

.NavigationItem {
  display: inline-block;
  padding: 0 1.5rem;
}

.NavigationItem:first-of-type{
  padding-left: 0;
}

.NavigationItem:last-of-type{
  padding-right: 0;
}

.NavLink:link,
.NavLink:visited{
  color: #0B5D70;
  text-decoration: none;
  border-bottom-color: transparent;
}

.NavLink:active{
  color: #EDBE51;
}

.NavLink:hover,
.NavLink:focus {
  color: #3D3D3D;
  background: none;
  border-bottom-color: #3D3D3D;
}

@media (max-width: 768px) {
  .NavigationItem {
    display: block;
    width: 100%;
    text-align: center;
    padding: 1rem 0;
    font-size: 2rem;
  }
}